# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# Macisms
.DS_Store

# Derived data
*.html
*.pdf

# Transient output, e.g. backups, zips, purl-ed R code from Rmd files
*.zip
*.R
*~
